
    <po-table 
    [p-height]="400"
    [p-hide-batch-actions]="false"
    [p-hide-table-search]="false"
    [p-hide-text-overflow]="true"
    [p-items]="items"
    [p-columns]="columns"
    [p-actions]="actions"
    (p-collapsed)="onCollapseDetail()"
    (p-expanded)="onExpandDetail()"
    > 

    </po-table>

<po-modal p-click-out="true" p-size="sm" p-title="{{ detail?.tenantName }}">
<po-info class="po-sm-8" [p-label]="detail?.info"> </po-info>

<!-- <po-textarea name="textarea" p-label="PO Textarea"> </po-textarea> -->
</po-modal>

